<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="data_db.properties">
		<property name="db_driver" value="com.mysql.jdbc.Driver" />
		<property name="db_encoding" value="UTF8" />
	</properties>
	<typeAliases>
		<!-- 舆情数据 -->
		<typeAlias alias="SentTablename" type="zx.soft.sent.dao.domain.sentiment.SentTablename" />
		<typeAlias alias="RecordInsert" type="zx.soft.sent.dao.domain.sentiment.RecordInsert" />
		<typeAlias alias="RecordSelect" type="zx.soft.sent.dao.domain.sentiment.RecordSelect" />
		<typeAlias alias="SelectParamsById" type="zx.soft.sent.dao.domain.sentiment.SelectParamsById" />
		<typeAlias alias="SelectParamsByTime" type="zx.soft.sent.dao.domain.sentiment.SelectParamsByTime" />
		<typeAlias alias="InsertCacheQuery" type="zx.soft.sent.dao.domain.sentiment.InsertCacheQuery" />
		<typeAlias alias="SelectCacheQuery" type="zx.soft.sent.dao.domain.sentiment.SelectCacheQuery" />
		<!-- OA专题数据缓存 -->
		<typeAlias alias="SpecialTopic" type="zx.soft.sent.dao.domain.special.SpecialTopic"/>
		<!-- OA全网搜索 -->
		<typeAlias alias="InternetTask" type="zx.soft.sent.dao.domain.allinternet.InternetTask"/>
		<typeAlias alias="TaskResult" type="zx.soft.sent.dao.domain.allinternet.TaskResult"/>
	</typeAliases>
	<environments default="sentiment">
		<environment id="sentiment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="url" value="${sent.db.url}" />
				<property name="username" value="${sent.db.username}" />
				<property name="password" value="${sent.db.password}" />
				<property name="driver" value="${db_driver}" />
				<property name="driver.encoding" value="${db_encoding}" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
				<property name="poolPingConnectionsNotUsedFor" value="5000" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="SentimentRecordDaoMapper.xml"/>
		<mapper resource="SpecialQueryMapper.xml"/>
		<package name="zx.soft.sent.dao.spidersite"/>
		<package name="zx.soft.sent.dao.firstpage"/>
		<package name="zx.soft.sent.dao.allinternet" />
	</mappers>
</configuration>
	