<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.soft.sent.dao.sina.WeiboSinaDao">

	<!-- 获取最大Id -->
	<select id="getMaxId" parameterType="WeiboSinaParams"
		resultType="int">
		SELECT MAX(`id`) FROM ${tablename};
	</select>
	
	<!-- 获取所有数据表名 -->
	<select id="getAllTablenames" resultType="string">
		SELECT `name` FROM `sina_tablenames`;
	</select>

	<!-- 获取新浪微博 -->
	<select id="getBatchWeibos" parameterType="WeiboSinaParams"
		resultType="WeiboOldInfo">
		SELECT
		`wid`,`username`,`repostsCount`,`commentsCount`,`text`,`createat`,`owid`,`ousername`,`favorited`,`geo`,`latitude`,`longitude`,`originalpic`,`source`,`visible`
		FROM
		${tablename} WHERE `id` BETWEEN #{low} AND #{high};
	</select>

</mapper>