<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{36} [Line:%-3L] - %msg%n</pattern>
		</encoder>
		<!-- 只输出level级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/sentiment-solr.log</File>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{36} [Line:%-3L] - %msg%n</pattern>
		</encoder>
		<!-- 只输出level级别以上的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/sentiment-solr.log.%d{yyyy-MM-dd}.tar.gz
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- org.apache.solr包中的java类 -->
	<logger name="org.apache.solr" level="INFO" addtivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- org.apache.zookeeper包中的java类 -->
	<logger name="org.apache.zookeeper" level="WARN" addtivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="DEBUGE">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>